<!DOCTYPE html>
<html>
  <head>
    <title>Bowling Game</title>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  </head>
  <body>

  <button id="new-frame">New Frame</button>

  <h1>Frames: <span id="frame-number"> </span></h1>

  <h1>Bonus Status: <span id="bonus-status"> </span></h1>

  <h1>This Frame: <span id="latest-frame"> </span></h1>

  <h1>Frame Score <span id="latest-frame-score"></span></h1>

  <button id="new-roll">New Roll</button>

  <h1>Roll Limit: <span id="roll-limit"> </span></h1>



    <script src="src/bowling_game.js"></script>
    <script src="src/frame.js"></script>
    <script src="src/roller.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="src/bowling_game_interface.js"></script>


  </body>
</html>
