<!DOCTYPE html>
<html>
  <head>
    <title>Make a name for yourself - in the world of bowling!</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>

    <section>
      <form id="What's your name?" action="/player-and-game-creation" method="post">
        <input id="player_name_input"  type="text" placeholder="Theodore Kaczynski" name="player_name"></input>
        <input type="submit" value="Name Thyself"></input>
      </form>
      <br>
    </section>

  </body>

</html>
