<!DOCTYPE html>
<html>
  <head>
    <title>Bowling Game</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>

    <section>
      <form id="What's your name?">
        <input id="player-name-input" action="/roll_angle_chosen" method="post" type="text" placeholder="Theodore Kaczynski" name="player-name-input" ></input>
        <input type="submit" value="Name Thyself"></input>
      </form>
      <br>
    </section>

  </body>

</html>
